#container
{
  display: block;
}

#header
{
  text-align: center;
}

#header > h1#institute-name
{
  color: #f4f3ff;
  font-family: 'Raleway', sans-serif;
  font-size: 3.6em;
  font-weight: 200;
  margin-top: -0.35em;
  margin-bottom: 0em;
}

#header > h2#institute-name-sub
{
  color: #f4f3ff;
  font-family: 'Raleway', sans-serif;
  font-size: 2.7em;
  font-weight: 200;
}

#main-menu
{
  padding-top: 4em;
}

/* ant-menu override -- start */
#main-menu > .ant-menu
{
  background-color: transparent;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

#main-menu > .ant-menu-horizontal
{
  border-bottom: 1px solid transparent;
}

#main-menu > .ant-menu-horizontal > .ant-menu-item > a
{
  color: #ffffff;
}

#main-menu > .ant-menu-horizontal > .ant-menu-item:hover
{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

#main-menu > .ant-menu-horizontal > .ant-menu-item:hover > a
{
  color: #ffffff;
}

/* ant-menu override -- end */
.main-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: #0039ff; */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  #header
  {
    padding-top: 50px;
  }

  #main-menu
  {
    padding-top: 2em;
  }

  #header > h1#institute-name
  {
    font-size: 1.8em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.4em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px)
and (orientation : landscape) and (min-resolution: 192dpi){
  #header > h1#institute-name
  {
    font-size: 2.1em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.7em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px)
and (orientation : portrait) and (min-resolution: 192dpi) {
  #header > h1#institute-name
  {
    font-size: 2.1em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.7em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px)
and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px)
and (orientation : portrait) and (min-resolution: 192dpi) {
  #header > h1#institute-name
  {
    font-size: 2.1em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.7em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Apple iPhone SE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px)
and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px)
and (orientation : portrait) and (min-resolution: 192dpi) {
  #header
  {
    padding-top: 15px;
  }

  #header > h1#institute-name
  {
    font-size: 1.8em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.4em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Blackberry Z30 */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px)
and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px)
and (orientation : portrait) and (min-resolution: 192dpi) {
  #header
  {
    padding-top: 20px;
  }

  #header > h1#institute-name
  {
    font-size: 1.8em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.4em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Google Nexus 6 */
@media only screen and (min-device-width: 412px) and (max-device-height: 732px)
and (orientation : landscape) and (min-resolution: 336dpi){
  /* Styles */
}

@media only screen and (min-device-width: 412px) and (max-device-height: 732px)
and (orientation : portrait) and (min-resolution: 336dpi) {
  #header
  {
    padding-top: 20px;
  }

  #header > h1#institute-name
  {
    font-size: 2.3em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.9em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Google Nexus S */
@media only screen and (min-device-width: 320px) and (max-device-height: 533px)
and (orientation : landscape) and (min-resolution: 144dpi){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 533px)
and (orientation : portrait) and (min-resolution: 144dpi) {
  #header
  {
    padding-top: 20px;
  }

  #header > h1#institute-name
  {
    font-size: 1.8em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.4em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* LG G Watch */
@media only screen and (min-device-width: 280px) and (min-device-height: 533px)
and (max-device-height: 533px) and (min-resolution: 96dpi){
  #main-menu {
    padding-top: 1em;
  }

  #header
  {
    padding-top: 250px;
  }

  #header > h1#institute-name
  {
    font-size: 1.8em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.4em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* LG Optimus L70 */
@media only screen and (min-device-width: 384px) and (max-device-height: 640px)
and (orientation : landscape) and (min-resolution: 120dpi){
  /* Styles */
}

@media only screen and (min-device-width: 384px) and (max-device-height: 640px)
and (orientation : portrait) and (min-resolution: 120dpi) {
  #header
  {
    padding-top: 20px;
  }

  #header > h1#institute-name
  {
    font-size: 2.1em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.7em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Nokia Lumia 520 */
@media only screen and (min-device-width: 320px) and (max-device-height: 533px)
and (orientation : landscape) and (min-resolution: 134.4dpi){
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 533px)
and (orientation : portrait) and (min-resolution: 134.4dpi) {
  #header
  {
    padding-top: 20px;
  }

  #header > h1#institute-name
  {
    font-size: 1.9em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Nokia N9 */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px)
and (orientation : landscape) and (min-resolution: 96dpi){
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px)
and (orientation : portrait) and (min-resolution: 96dpi) {
  #header
  {
    padding-top: 20px;
  }

  #header > h1#institute-name
  {
    font-size: 1.9em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Samsung Galaxy S8 */
@media only screen and (min-device-width: 360px) and (max-device-height: 740px)
and (orientation : landscape) and (min-resolution: 384dpi){
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 740px)
and (orientation : portrait) and (min-resolution: 384dpi) {
  #header
  {
    padding-top: 20px;
  }

  #header > h1#institute-name
  {
    font-size: 1.9em;
    font-weight: 300;
  }

  #header > h2#institute-name-sub
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu
  {
    font-size: 1.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* Tesla Model S */
@media only screen and (min-device-width: 1200px) and (max-device-height: 1920px)
and (orientation : landscape) and (min-resolution: 96dpi){
  /* Styles */
}

@media only screen and (min-device-width: 1200px) and (max-device-height: 1920px)
and (orientation : portrait) and (min-resolution: 96dpi) {
  #header > h1#institute-name
  {
    font-size: 4.8em;
    font-weight: 200;
  }

  #header > h2#institute-name-sub
  {
    font-size: 4.0em;
    font-weight: 200;
  }

  #main-menu > .ant-menu
  {
    font-size: 2.0em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    /* float: none; */
    /* padding-left: 0; */
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item:hover
  {
    border-bottom: 2px solid #0039ff;
  }
}

/* 720p HD Television */
@media only screen and (min-device-width: 720px) and (max-device-height: 1280px)
and (orientation : portrait) and (min-resolution: 96dpi) {
  #main-menu
  {
    padding-top: 100px;
  }

  #header > h1#institute-name
  {
    font-size: 3.8em;
    font-weight: 200;
  }

  #header > h2#institute-name-sub
  {
    font-size: 3.0em;
    font-weight: 200;
  }

  #main-menu > .ant-menu
  {
    font-size: 2.0em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item
  {
    display: block;
    float: none;
    padding-left: 0;
  }
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
  #header > h1#institute-name
  {
    font-size: 5.6em;
    font-weight: 200;
  }

  #header > h2#institute-name-sub
  {
    font-size: 4.7em;
    font-weight: 200;
  }

  #main-menu > .ant-menu
  {
    font-size: 2.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item > a
  {
    padding-bottom: 0.25em;
  }
}

/* Support for very large screens(4K) */
@media only screen  and (min-width : 2400px) {
  #header > h1#institute-name
  {
    font-size: 6.6em;
    font-weight: 200;
  }

  #header > h2#institute-name-sub
  {
    font-size: 5.7em;
    font-weight: 200;
  }

  #main-menu > .ant-menu
  {
    font-size: 3.5em;
    font-weight: 300;
  }

  #main-menu > .ant-menu-horizontal > .ant-menu-item > a
  {
    padding-bottom: 0.30em;
  }
}
