.golden-ratio-three-cell-layout {
  display: grid;
  height: 100%;
  grid-template: 1.61803fr 1fr / 1.61803fr 1fr;
}

.cell-one {
  grid-area: 1 / 1 / 3 / 2;
  background: #9b232b;
}

.cell-two {
  grid-area: 1 / 2 / 2 / 3;
  background: #d3d3d3;
}

.cell-three {
  grid-area: 2 / 2 / 3 / 3;
  background: #ffffff;
}