#name {
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  padding-top: 2px;
}

#place {
  font-size: 1.2em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  padding-top: 5px;
}

#static-upper-nav > .ant-menu-horizontal > .ant-menu-item:hover
{
  border-bottom: 2px solid transparent;
}

#wrappper {
  font-family: 'Raleway', sans-serif;
  /* font-weight: 600; */
}