#static-upper-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    width: 100%;
    min-height: 10vh;
}

#settings-icon {
    float: right;
    display: inline;
    color: #ffffff;
    margin-right: 2vw;
}

#institution-name {
    display: inline;
}

#static-upper-nav-menu {
    margin: 2vh 2.96vw 0vh 2vw;
    line-height: 30px;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #000000;
    min-height: 50px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;    
    filter:none;
    padding-top: 14px;
    padding-bottom: 13px;
}
/* #static-upper-nav-menu :after {
    filter: blur(4px);    
} */


#static-upper-nav > .ant-menu-horizontal
{
  border-bottom: none;
}

#navbar-blur {
    top: 0; left: 0; 
    z-index: 998;
    width: 100%;
	height: 12vh;
	overflow: hidden;
	position: fixed;
	filter: blur(10px);
  }