#static-upper-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

#settings-icon {
    float: right;
    display: inline;
}

#institution-name {
    display: inline;
}

#static-upper-nav-menu {
    line-height: 4vh;
    font-size: 1.3em;
    font-family: Raleway, Medium;
}

