#static-upper-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    width: 100%;
}

#settings-icon {
    float: right;
    display: inline;
    color:black;
}

#institution-name {
    display: inline;
}

.ant-menu .ant-menu-item {
    line-height: 4vh;    /* padding: 0px; */
    font-size: 1.3em;
}