
.main{
	/*align-items: center;
    justify-content: center;*/
    /*display: flex;*/
    /*text-align: center;*/
    width: 100%;
    height: 100%;
    margin-top:15vh;
    padding: 2vw;
}
/*.ant-card-body{
	height:80vh;
}*/