.react-slidedown.my-dropdown-slidedown {
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.react-slidedown {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}