.slider
{
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  height: 100%;
}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0, 0.4); */
  bottom: 0;
  left: 0;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner button{
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #fafafa;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner p {
  color: #fafafa;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .slider-content .inner h1 {
    font-weight: 900;
    margin: 0 auto;
    max-width: 840px;
    color: #fafafa;
    font-size: 48px;
    line-height: 1;
  }

  .slider-content .inner p {
    color: #fafafa;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 640px;
    font-weight: 400;
  }
}

.slider-content button {
  -webkit-appearance: none;
  appearance: none;
  /* -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1)); */
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  background: #fafafa;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: cursor;
  color: #5d5d5d;
}

.slider-content button:hover {
  color: #fafafa;
  background: #5d5d5d;
  /* -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2)); */
}
.slider .inner
{
  padding-left: 5vw;
  padding-right: 5vw;
}
