@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600|Open+Sans');

@import '~antd/dist/antd.css';

.App {
  width: 100vw;
  height: 100vh;
  background-color: #0039ff;
  display: flex;
  position: fixed;
  overflow-y: scroll;
}
